$main-color: #41c3ac;
$menu-color: #4d4c4c;
$header-height:40rem;
body{
	background: #f0f0f0;
}
header{
	background: url(../images/bg.png);
	height: $header-height;

	h1{
		color:#fff;
	}
	.hero{
		height: $header-height;
		display: flex;
  /*align-items: center;
  justify-content: center;*/

  /*background:rgba(255,255,255,0.5);*/
}
.menu{
	width:100%;
	padding:20px 0;
	position:absolute;
	nav.navbar{
		/*background:rgba(255,255,255,0.5);*/
		ul{
			list-style: none;
			li{
				display: inline-block;
				a{
					color: #fff;
					padding: 0 20px;
				}
			}
		}
	}
}

}
.flex-center{
	justify-content: center;
}
.card{
	background:#fff;
}

.logo{
	svg{
		fill:#fff;
		width:2rem;
	}
}
section#intro{
	padding:5rem;
	h2{
		padding:2rem;
	}
}
